body {
    padding: 1rem 2rem;
}

nav {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

img {
    width: 30%;
    height: auto;
}

.imageDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
}